// Buttons
.btn-google{
  background-color:#f69b81;
  color:white;
  border:none;
  font-size: 14px;
  padding: 10px 20px;
  img{
    padding-left:10px;
  }
  &:hover{
    background-color:#f69b81;
    color:white;
  }
}
.btn-continue-in{
  margin-top: 10px;
  background-color:#a0cef2;
  color:white;
  border:none;
  font-size: 14px;
  padding: 13px;
  width:100%;
  cursor: pointer;
  img{
    padding-left:10px;
  }
  &:focus, &:hover{
    background-color:#a0cef2;
    color:white;
  }
}
.btn-yes{
  background-color:$brand-blue;
  color:white;
  font-size: 14px;
  padding: 13px 40px;
  margin-bottom:20px;
  font-weight:$weight-bold;
  border:none;
  &:hover{
    background-color:$brand-blue;
    color:white;
  }
}
.btn-tab{
  background-color:white;
  color:$brand-blue-light;
  font-size: 12px;
  padding: 3px 15px;
  margin:10px 3px;
  font-weight:$weight-bold;
  border:none;
  border-radius:12px;
  text-transform:uppercase;
  &:active, &:hover{
    background-color:#eceff1;
    color:$brand-blue;
    box-shadow:none;
  }
}

.btn-have-look{
  background-color:white;
  color:#93c1e5;
  font-size: 12px;
  padding: 8px 20px;
  margin:10px 3px;
  font-weight:$weight-bold;
  border:2px solid #93c1e5;
  border-radius:6px;
  text-transform:uppercase;
  &:active, &:hover{
    background-color:white;
    border:2px solid #93c1e5;
    color:#93c1e5;
    box-shadow:none;
  }
}
.edit-in-btn {

}
.selected{
    background-color:#eceff1;
    color:$brand-blue;
    box-shadow:none;
}

.btn-proto{
  background-color:black;
  color: white;
  font-size:12px;
  border:none;
  height:38px;
  padding-top:8px;
  text-transform: uppercase;
  min-width: 180px;
}
.btn-start-app{
  background-color:#f42535;
  color: white;
  font-size:12px;
  border:none;
  height:38px;
  padding-top:8px;
  text-transform: uppercase;
  width: 100%;
}
.btn-save-later{
  background-color:black;
  color: white;
  font-size:12px;
  border:none;
  height:38px;
  padding-top:8px;
  text-transform: uppercase;
  min-width: 100%;
  
}

