//Chat styles

.scroll-frame{
  overflow-y: scroll;
  overflow-x: hidden;

  height: 100%;

  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;

  padding-top: 60px;
}
.scroll-frame::-webkit-scrollbar {
  display: none;
}


/////////////////////////////
//Sprint 2
////////////////////////////
.top-bar{
	min-height:40px;
	text-align:left;
	padding-top:12px;
	padding-left:30px;
	padding-right:30px;
	background-color:#3a7cdc;
	p{
		color:white;
		font-size: 12px;
	}
	strong{
		text-transform: uppercase;
	}
	a{
		color:white;
		text-decoration: underline;
	}
	.sign-in{
		text-align:right;
		a{
			text-decoration: none;
		}
	}
}

.top-progress-bar{
	background-color:$brand-blue;
	width:100%;
	min-height: 70px;
	position: fixed;
	z-index:999;
 	.jump-section{
 		text-align: center;
 		padding-left:6px;
 		padding-top:22px;
 	}
 	.save{
 		border-left:1px solid #53657b;
 		border-right:1px solid #53657b;

 		text-transform: uppercase;
 		padding-top:22px;
 		height:70px;
 		.center{
 			width:85px;
 			margin:0 auto;
 		}
 		span{
 			float:left;
 			padding-left:8px;
 			color:white;
	 		font-size: 10px;
	 		line-height: 12px;
 		}
 		img{
 			float:left;
 		}

 	}
 	.topic{
 		padding-top:18px;
 		span{
 			color:white;
 			font-size: 16px;
 			line-height: 10px;
 		}
 		p{
 			color:#b2bac4;
 			line-height: 12px;
 			font-size: 10px;
 		}
 	}
 	.expand-section{
 		position:relative;
 		text-align: center;
 		margin-right: 20px;
 		padding-left:6px;
 		padding-top:25px;
 		font-size: 12px;
 		color:white;
 		cursor: pointer;
 		.number-indicator{
 			position:absolute;
 			background-color:#b5dcf7;
 			border-radius:12px;
 			height:24px;
 			width:24px;
 			text-align: center;
 			padding-top:4px;
 			margin-top: -12px;
    		margin-left: 12px;
 			color:$brand-blue;
 			font-weight: $weight-bold;
 		}

		a{
			text-decoration: none;
		}
 	}
}
.top-progress-bar-expanded{

}

.initial-module{
	margin-top:80px;
	margin-bottom:30px;
	.initial-input{
		position:relative;
		margin-top:30px;
	}
	.input-instruction{
		position:absolute;
		top:20px;
		right:110px;
		color:$brand-grey;
		text-transform:uppercase;
	}
	.avatar{
	    display: none;
	}
}
.chat-input{
	width: 80%;
	@extend .box-border;
    border:1px solid $brand-grey-light;
    box-shadow:none;
    font-size:20px;
    color:$brand-blue;
    margin: 10px auto;
    height: 60px;
    padding-left:15px;
    font-weight: $weight-normal;
}


// Media querys
// Mobile
@media (max-width: 460px){
	
	.initial-module{
		.avatar{
			display: inline;
		    position:absolute;
		    left:6px;
		    top:-12px;
		    img{
		      width:36px;
		      height: 36px;
		    }
		}
	}
	.chat-input{
			width: 100%;
		    border:1px solid $brand-grey-light;
		    font-size:14px;
		    color:$brand-blue;
		    margin: 10px auto;
		    height: 50px;
		    padding-left:15px;
		}
}







@media (min-width: 768px){
	.navbar-toggle {
	    display: inline;
	}
}