// Chat Modules
.chat-module{
  border-top: 1px solid #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
  font-size:20px;
  padding-top:40px;
  padding-bottom:40px;
  p{
    color:$brand-blue;
  }

  .avatar{
    position:absolute;
    left:0;
  }
  section{
    margin-left:18px;
  }
  a{
    color:#6c737a;
    font-size: 12px;
    font-weight: $weight-bold;
    text-decoration: underline;
  }
  .module-title{
    font-size: 10px;
    font-weight: $weight-bold;
  }
}

//Chat free text
.chat-free-text{

}

//Chat single choice
.chat-single-choice{
  ul{
    list-style-type: none;

    li{
          cursor:pointer;
      border:1px solid #eeeeee;
      border-radius:3px;
      float:left;
      height: 110px;
      width:140px;
      padding:15px 10px;      
      margin: 5px;
      text-align: center;
      font-weight: $weight-normal;
      font-size: 12px;
      color:$brand-blue;
      &:hover,
      &.active{
        background-color: #fafafa;
        cursor: pointer;
      }
    }
  }

  .container__services{
    ul{
      list-style-type: none;

      li{
            cursor:pointer;
        border:1px solid #eeeeee;
        border-radius:3px;
        float:left;
        height: 85px;
        width:140px;
        padding:10px;     
        margin: 5px;
        text-align: left;
        font-weight: $weight-normal;
        font-size: 12px;
        &:hover,
        &.active{
          background-color: #fafafa;
          cursor: pointer;
        }
      }
    }
    .read-more{
      display: block;
      font-size: 10px;
      color: #b2bac4;
    }
  }
}

// Chat location
.chat-location{
  .map{
    height: 200px;
  }
  ul{
    list-style-type: none;
    margin-top: 10px;
    padding:0;
    li{
      cursor:pointer;
      border:1px solid #eeeeee;
      border-radius:3px;
      float:left;
      height: 110px;
      width:140px;
      padding:50px 10px 10px 10px;
      margin: 5px;
      text-align: center;
      font-weight: $weight-bold;
      font-size: 12px;
      &:hover,
      &.active{
        background-color: #fafafa;
        cursor: pointer;
      }
    }
  }
}

// Chat resources
.chat-resources{
  ul{
    padding:0;
    list-style-type: none;
    li{
      float:left;
      padding-top:30px;
      margin: 5px;
      text-align: left;
      font-weight: $weight-bold;
      font-size: 12px;

      .box{
        border:1px solid #eeeeee;
        border-radius:3px;
        height: 180px;
        width:210px;
      }
      .title{
        font-size: 16px;
        font-weight: $weight-normal;
        color: #1a1a1a;
      }
      .type{
        font-size: 12px;
        font-weight: $weight-normal;
        color:#6c737a;
      }
    }
  }
}

// Chat multiple choice
.chat-multiple-choice{
  ul{
    list-style-type: none;
    li{
      cursor:pointer;
      border:1px solid #eeeeee;
      border-radius:3px;
      float:left;
      height: 110px;
      width:140px;
      padding:16px 10px;
      margin: 5px;
      text-align: center;
      font-weight: $weight-bold;
      font-size: 12px;

      background-color: white;
      color:#b2bac4;
      img{
        padding-bottom:8px;
      }
      &:hover,{
        color:$brand-blue;
        background-color: #f5f7fa;
        border:1px solid #eeeeee;
        cursor: pointer;
      }
      &.active{
        color:$brand-blue;
        background-color: #f5f7fa;
        border:1px solid $brand-blue;
      }
    }
  }
  .container__services{
    ul{
      list-style-type: none;

      li{
            cursor:pointer;
        border:1px solid #eeeeee;
        border-radius:3px;
        float:left;
        height: 85px;
        width:140px;
        padding:10px;     
        margin: 5px;
        text-align: left;
        font-weight: $weight-normal;
        font-size: 12px;
        &:hover,
        &.active{
          background-color: #fafafa;
          cursor: pointer;
        }
      }
    }
    .read-more{
      display: block;
      font-size: 10px;
      color: #b2bac4;
    }
  }
}

// Chat multiple choice
.chat-summary{
  background-color:$brand-blue;
  padding-bottom:30px;

  h2{
    color: white;
    text-align: left;
    margin-bottom: 30px;
    font-size: 24px;
  }
  h3{
    color: #8c98a7;
    text-align: left;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 12px;
    &.center{
      text-align: center;
    }
  }
  ul{
    list-style: none;
    color:#d9dde2;
    padding:0;
    li{
      font-size: 16px;
      &.large{
        font-size: 32px;
        padding-top:10px;
        font-weight: $weight-light;
      }
    }
  }
  .cost{
    font-size: 32px;
    padding-bottom:20px;
    padding-top:2px;
    color: white;
    font-weight: $weight-light;
        line-height: 38px;
  }

}

// Error
.error{
  padding-left: 20px;
}

// Service Information / Side Panel
.navmenu-default, .navbar-default .navbar-offcanvas {
    background-color: #FFFFFF !important;
    border-color: #e7e7e7;
}
.service-information{
  padding: 15px;
  p{
    color:$brand-blue;
  }
  .close{

  }
  h1{
    font-size: 24px;
    color: $brand-blue;
  }
  h2{
    display: inline;
    color: $brand-blue;
  }
  .spacer{
    margin-bottom: 15px;
  }

  ul{
    list-style: none;
    padding:0;

    li{
      background-color:#fafafa;
      border: 1px solid #e1e1e1;
      padding:10px;
      font-size: 16px;
      font-weight: $weight-normal;
      color:$brand-blue;
      margin-bottom: 15px;

      .title{
        font-size: 12px;
        font-weight: $weight-bold;
        color:$brand-blue;

      }

    }
  }
}

// Thinking Icon
@-webkit-keyframes loader {
    19% {
        bottom: 0;
        -webkit-transform: scale(1.25, 0.25);
        transform: scale(1.25, 0.25)
    }
    30% {
        -webkit-transform: scale(0.8, 1.15);
        transform: scale(0.8, 1.15)
    }
    49% {
        bottom: 27px
    }
    51% {
        bottom: 25.65px
    }
    52% {
        bottom: 22.95px
    }
    60% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }
    66% {
        bottom: 0
    }
    68% {
        -webkit-transform: scale(1.5, 0.25);
        transform: scale(1.5, 0.25)
    }
    90% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }
}
@keyframes loader {
    19% {
        bottom: 0;
        -webkit-transform: scale(1.25, 0.25);
        transform: scale(1.25, 0.25)
    }
    30% {
        -webkit-transform: scale(0.8, 1.15);
        transform: scale(0.8, 1.15)
    }
    49% {
        bottom: 27px
    }
    51% {
        bottom: 25.65px
    }
    52% {
        bottom: 22.95px
    }
    60% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }
    66% {
        bottom: 0
    }
    68% {
        -webkit-transform: scale(1.5, 0.25);
        transform: scale(1.5, 0.25)
    }
    90% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }
}

.is-thinking .thinking-icon {
  opacity: 1;
}

.thinking-icon {
  margin: 0 auto;
  padding:0;
  width:40px;
  opacity: 0;
  -webkit-transition: opacity 400ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
       -moz-transition: opacity 400ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
            transition: opacity 400ms cubic-bezier(0.250, 0.460, 0.450, 0.940);

    li {
      position: relative;
      width: 8px;
      height: 39px;
      display: inline-block;
      margin-left: 2px;
  }
  li:first-child {
      margin-left: 0
  }
  li div {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 8px;
      height: 8px;
      background: #333;
      border-radius: 12px;
      -webkit-animation: loader 2s infinite;
      animation: loader 2s infinite;
      -webkit-transform-origin: 50% bottom;
      transform-origin: 50% bottom
  }
  li:nth-child(2) div {
      -webkit-animation-delay: 0.08s;
      animation-delay: 0.08s
  }
  li:nth-child(3) div {
      -webkit-animation-delay: 0.16s;
      animation-delay: 0.16s
  }
  li:nth-child(4) div {
      -webkit-animation-delay: 0.24s;
      animation-delay: 0.24s;
  }
}


// Footer


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 200px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 200px;
  background-color: #f5f5f5;
  font-size: 10px;
  padding-top:100px;
  
  ul{
    margin:0;
    list-style: none;
    li{
      padding:0 15px;
      float: left;
    }
  }
}
.ngdialog.ngdialog-theme-default {
    padding-bottom: 160px;
    padding-top: 40px;
}
.ngdialog.ngdialog-theme-default .ngdialog-content {
    -webkit-animation: ngdialog-flyin .5s;
    animation: ngdialog-flyin .5s;
    background-color:$brand-blue;
    border-radius: 0;
    color: #444;
    font-size: 1.1em;
    line-height: 1.5em;
    margin: 0 auto;
    max-width: 100%;
    padding: 1em;
    position: relative;
    width: auto;
}

