//Dashboard

.dashboard-header{
  background-color:#25323c;
  height:255px;
  width:100%;
  margin:0;
  .header-links{
    text-align: right;
    margin-top: 25px;
    margin-right: 50px;
    color:#fff;
    font-weight: $weight-bold;
    text-transform: uppercase;
  }
  h1{
    font-size: 32px;
    color: #fff;
    margin-top: 125px;
    font-weight: $weight-normal;
  }
  h2{
    font-size: 20px;
    color: #fff;
    margin-top: 5px;
    font-weight: $weight-normal;
  }
}
.widget-wrapper{
  background-color:#f1f1f1;
  padding-bottom:60px;
  .filter{
    color:#838a8f;
    font-size: 14px;
    margin-top: 10px;
    span{
      color: #25323c;
      padding-left:10px;
    }
  }
}
.dashboard{
  background-color:#fafafa;
//widgets
	.widget{
    border-radius:0;
    margin:0 15px;
    background-color:white;
    width:25%;
    margin:10px;
    box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
  }
  .padding-wrapper{
    padding:15px;
  }
  //card buttons
  .btn-card-red{
    width:100%;
    background-color:#f79b82;
    margin: 20px  0 20px 0;
    color:white;
    font-weight:$weight-bold;
  }
  .btn-green{
    width:100%;
    background-color:#98e4a9;
    margin: 25px  0 10px 0;
    color:white;
    font-weight:$weight-bold;
  }
  .btn-blue{
    width:100%;
    background-color:#5094e3;
    margin: 25px  0 10px 0;
    color:white;
    font-weight:$weight-bold;
  }
  .btn-map{
    width:100%;
    background-color:white;
    padding:10px 10px;
    color:#5094e3;
    font-weight:$weight-normal;
    border-left:2px solid #a0cef2;
    border-radius:0;
    text-align:left;
    img{
      padding: 0 20px 0 10px;
    }
  }
  .btn-cal{
    width:100%;
    background-color:white;
    padding:10px 10px;
    color:#455a64;
    font-weight:$weight-normal;
    border-radius:0px 0px 4px 4px;
    text-align:left;
    border-top:1px solid $brand-grey-light;
    img{
      padding: 0 20px 0 10px;
    }
  }



  .Alert{   
    background-color:#d24242; 
    height:200px;
    .icon{
      float:right;
      width:60px;
      height:60px;
    }
    .content{
      float:left;
    }
    .title{
      font-size:20px;
      font-weight:$weight-normal;
      display:block;
      color:#FFF;
      padding-top:3px;
    }
    .sub-title{
      font-size:14px;
      color:#FFF;
      display:block;
      padding-top:3px;
    }
  }

  .Service{    
   height:auto;

    .title{
      font-size:18px;
      font-weight:$weight-bold;
      display:block;
      color:#455a64;
      padding-top:3px;
    }
    .sub-title{
      font-size:14px;
      color:#b0bec5;
      display:block;
      padding-top:3px;
    }
    .message{
      display: block;
      margin-top: 20px;
    }
    .submitted{
      font-size: 12px;
      padding:5px;
      .processing{
        color:#25323c;
        border: 2px solid #25323c;
        padding:6px;
        margin:10px;
        text-align: center;
        float: left;
      }
      .status{
        float:right;
        color: #b0bec5;        
        width:60%;
        padding-top:8px;
      }
    }
    .action{
      padding:5px;
      button{
        margin:10px;
        background-color:#25323c;
        color: #fff;
        border:none;
        padding:10px 15px;
        font-size: 14px;
      }
    }
    
  }

}
.marketing-img{
  width: 100%;
}

//Media queries
@media (max-width: 460px){
  .dashboard{
    .widget{
      width:98%;
    }
  }
}
@media (min-width: 461px){
  .dashboard{
    .widget{
      width:98%;
    }
  }
}

@media (min-width: 768px){
  .dashboard{
    .widget{
      width:45%;
    }
  }
}

@media (min-width: 992px){
  .dashboard{
    .widget{
      width:31%;
    }
  }
}
@media (min-width: 1200px){
  .dashboard{
    .widget{
      width:31%;
    }
  }
}





