// Dashboard 

.dashboard{
  background-color:#fafafa;
	.card{
    border-radius:4px;
    margin:0 15px;
    background-color:white;
    width:240px;
    margin:10px;
    box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
  }
  .padding-wrapper{
    padding:15px;
  }
  //card buttons
  .btn-card-red{
    width:100%;
    background-color:#f79b82;
    margin: 20px  0 20px 0;
    color:white;
    font-weight:$weight-bold;
  }
  .btn-green{
    width:100%;
    background-color:#98e4a9;
    margin: 25px  0 10px 0;
    color:white;
    font-weight:$weight-bold;
  }
  .btn-blue{
    width:100%;
    background-color:#5094e3;
    margin: 25px  0 10px 0;
    color:white;
    font-weight:$weight-bold;
  }
  .btn-map{
    width:100%;
    background-color:white;
    padding:10px 10px;
    color:#5094e3;
    font-weight:$weight-normal;
    border-left:2px solid #a0cef2;
    border-radius:0;
    text-align:left;
    img{
      padding: 0 20px 0 10px;
    }
  }
  .btn-cal{
    width:100%;
    background-color:white;
    padding:10px 10px;
    color:#455a64;
    font-weight:$weight-normal;
    border-radius:0px 0px 4px 4px;
    text-align:left;
    border-top:1px solid $brand-grey-light;
    img{
      padding: 0 20px 0 10px;
    }
  }

  .card1{
    
    .icon{
      float:left;
      padding-right:15px;
    }
    .content{
      float:left;
    }
    .title{
      font-size:18px;
      font-weight:$weight-bold;
      display:block;
      color:#455a64;
      padding-top:3px;
    }
    .sub-title{
      font-size:14px;
      color:#b0bec5;
      display:block;
      padding-top:3px;
    }
    .date{
      border-top:1px solid $brand-grey-light;
      font-size:12px;
      color:#b0bec5;
      span{
        display:block;
        padding:15px;
      }
    }
  }

  .card2{
    background-color:#7edd94;
    text-align:left;
    .sub-title{
      font-size:14px;
      color:white;
      display:block;
      padding-top:10px;
    }
    .title{
      font-size:24px;
      color:white;
      font-weight:$weight-bold;
      line-height:28px;
      padding-top:5px;
    }
    
  }

  .card3{
    background-color:#5094e3;
    text-align:left;
    padding:10px 0;
    .sub-title{
      font-size:12px;
      color:white;
      display:block;
    }
    .title{
      font-size:18px;
      color:white;
      font-weight:$weight-bold;
    }
    
  }

  .card4{
    background-color:white;
    text-align:left;
    padding:10px 0 0 0;
    .title{
      font-size:18px;
      color:#455a64;
      font-weight:$weight-bold;
    }
    .course{
      border-top:1px solid $brand-grey-light;
      .title{
        font-size:14px;
        color:#5094e3;
      }
      .time{
        font-size:14px;
        color:#b0bec5;
      }
    }    
  }

  .card5{
    background-color:white;
    text-align:left;
    padding:10px 0 0 0;
    .title{
      font-size:18px;
      color:#455a64;
      font-weight:$weight-bold;
    }
    .sub-title{
      font-size:12px;
    }
    .content{
      border-top:1px solid $brand-grey-light;
      .title{
        font-size:14px;
        color:#455a64;
        font-weight:$weight-normal;
      }
      .link{
        font-size:14px;
        color:#5094e3;
      }
      .date{
        font-size:14px;
        color:#b0bec5;
      }
    }    
  }

  .card6{
    background-color:white;
    text-align:left;
    padding:0;
    .top{
      .left{
        background-color:#4a90e2;
        height:8px;
        float:left;
        width:30%;
        border-radius:4px 0 0 0;
      }
      .right{
        height:8px;
        background-color:#e2f0fb;
        float:right;
        width:70%;
        border-radius:0 4px 0 0;
      }
    }
    .title{
      font-size:18px;
      color:#455a64;
      font-weight:$weight-bold;
      padding-top:10px;
    }
    .sub-title{
      font-size:12px;
    }
  }
  
  .card7{
    background-color:white;
    text-align:left;
    padding:10px 0 0 0;
    .title{
      font-size:18px;
      color:#455a64;
      font-weight:$weight-bold;
      span{
        color:#f69b81;
      }
    }
    .sub-title{
      font-size:12px;
    }
    .map{
      height:120px;
    }
  }
}