//Global styles 
h1, h2, h3, h4, h5, h6 {
    font-family: $brand-font;
    color: $brand-color;
}
h1{  
	font-size:32px; 
	font-weight:$weight-black;
	color:$brand-blue;
}
h2{  font-size:14px; }
body, p {
    font-family: $brand-font;
    color: $brand-color;
}

.box-border{
	border-radius:4px;
	border: none;
	//box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.15);
}

.invisible{
	opacity:0;
}

input::-ms-clear {
  width : 0;
  height: 0;
}
input{
	outline:none;
}

.input-form{
	border:none;
	margin-top:-1px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding:15px 10px 15px 20px;
	font-size:14px;
}

//Gov header
.gov-header{
	height:80px;
	background-color:$header-bar;
	.qgov-logo{
		max-width: 230px;
		padding-top: 18px;
		padding-left: 20px;
	}
	.controls{
		font-family: $opensans-font;
		font-size: 12px;
		font-weight: $weight-semibold;
		padding-top:32px;
		padding-right: 25px;
		color: #b0bec5;
		.sign-up{
			color: #546e7a;
			margin-right:5px;
			cursor: pointer;
		}
		.login{
			color:#263238;
			margin-left:5px;
			cursor: pointer;
		}
	}
}

.break{
	border-top:1px solid #eceff1;
	width: 100%;
}



// Media querys
// Mobile
@media (max-width: 460px){
	h1{  
		font-size:14px; 
		font-weight:$weight-black;
		color:$brand-blue;
	}
	h2{  font-size:14px; }
}

