//Profile styles
.profile-header{
	background-color:#25323c;
	height:255px;
	width:100%;
	margin:0;
	.header-links{
		text-align: right;
		margin-top: 25px;
		margin-right: 50px;
		color:#fff;
		font-weight: $weight-bold;
		text-transform: uppercase;
	}
	.title{
		font-size: 32px;
		color: #fff;
		margin-top: 140px;
		font-weight: $weight-normal;
	}
}
.nav{
	padding:30px 0 30px 0;
	a{
		color:#a8adb1;
		font-size: 14px;
		font-weight: $weight-bold;
		margin-right:20px;
		text-decoration: none;
		padding-bottom:32px;
		border-bottom:none;
		&:hover{
			text-decoration: none;
			color: #25323c;
			border-bottom:2px solid #25323c;
		}
		&.nav-selected{
			color:#25323c;
			border-bottom:2px solid #25323c;
			&:hover{
				color: #25323c;
				border-bottom:2px solid #25323c;
			}
		}
	
	}
	
}

//Agencies

.filters{
	text-align:center;
	margin-bottom:20px;
	a{
		cursor: pointer;
		color:#a8adb1;
		font-size: 14px;
		font-weight: $weight-bold;
		text-decoration: none;
		border-bottom:none;
		&:hover{
			text-decoration: none;
			color: #25323c;
			text-decoration: none;
			border-bottom:none;
		}
		&.filter-selected{
			color:#25323c;
			border-bottom:none;
			&:hover{
				color: #25323c;
				border-bottom:none;
			}
		}
	}
}

.service{
	padding:25px;
	background-color:#fff;
	h2{
		font-size: 18px;
		color: #25323c;
		margin:0;
		font-weight: $weight-normal;
	}
	h3{
		font-size: 14px;
		color: #90a4ae;
		margin:5px 0 0 0;
		font-weight: $weight-normal;
	}
	h4{
		font-size: 16px;
		color: #abb0b4;
		font-weight: $weight-normal;
		padding-left: 60px;
	}
	.header{
		cursor: pointer;
		.icon{
			width:50px;
			height:50px;
			background-color:#546e7a;
			border-radius: 25px;
			float:left;
		}
		.title{
			float:left;
			margin-top: 4px;
			margin-left: 10px;
			width:65%;
		}
		
	}
	.permissions{
		width:80%;
		ul{
			padding:0;
		}
		li{
			list-style: none;
			padding-left:10px;
			padding-right:20px;
		}
		label{
			color: #25323c;
			font-size: 16px;
			font-weight: $weight-normal;
		}
		input[type=checkbox]{
			margin-left: 6px;
			margin-right: 25px;
		}
	}
}
.service-open{
	background-color:#fafafa;
}

// Transactions
.transactions{
	font-size:16px;
	padding-bottom:60px;
	table{
		width: 100%;
		margin-top: 30px;
		tr{
			height: 50px;
		}
		td{
			padding:10px;
		}
	}
	.title{
		font-size:14px;
		color: #90a4ae;
	}
	.agency{
		color: #687178;
	}
	.transaction{
		color: #25323c;
		font-weight: $weight-medium;
		padding-right:10px;
	}
	.description{
		color: #858c91;
		padding-left:10px;
		padding-right:10px;
	}
	.type{
		color: #7c848a;
		font-style: italic;
	}
	.price{
		color: #25323c;
	}
	.date{
		color: #858c92;
	}
	.spacer{
		height: 30px;
	}
	.row-border{
		border-top: 1px solid #e1e1e1;
	}
}

// Account
.account{
	.spotlight1{
		padding:20px;
		height: 190px;

		background-color:#fafafa;
		p{
			color: #25323c;
			font-size: 18px;
		}
		strong{
			font-weight: $weight-bold;
		}
		img{
			float:right;
			padding-top:13px;
			width:30px;
		}
		input{
			padding: 20px 10px;
			width: 100%;
		}
	}
	.spotlight2{
		padding:20px 20px 20px 20px;
		height: 190px;
		background-color:#cfd8dc;
		p{
			color: #25323c;
			width:80%;
		}
		strong{
			font-weight: $weight-bold;
		}
		a{
			font-size: 16px;
		}
	}
	button{
		background-color:#25323c;
		border:none;
		color: #fff;
		padding:10px 20px;
		margin-right: 15px;
	}


	section{
		margin-top:0px;
		padding-top:30px;
		margin-bottom:30px;
		border-top:1px solid #fafafa;
	}
	.spacer{
		margin-top: 12px;
	}
	.section-title{
		font-size: 20px;
		color: #25323c;
	}
	.title{
		font-size: 14px;
		color: #90a4ae;
		display: block;
	}
	.content{
		font-size: 18px;
		color: #25323c;
		display: block;
	}
	.family{
		float: left;
		height:60px;
		padding-right:10px;
		img{
			padding-top:5px;
		}
	}
	.link{
		font-size: 18px;
		color: #25323c;
		display: block;
		text-decoration: underline;
	}
	.note{
		font-size: 14px;
		color: #25323c;
		display: block;
		padding-top:15px;
	}
	a{
		font-size: 14px;
		color: #25323c;
		text-decoration: underline;
		&:hover{
			font-size: 14px;
			color: #25323c;
			text-decoration: none;
		}

	}
}






// MD Tab Styles
md-tabs.md-default-theme .md-tab.md-active, md-tabs .md-tab.md-active, md-tabs.md-default-theme .md-tab.md-active md-icon, md-tabs .md-tab.md-active md-icon, md-tabs.md-default-theme .md-tab.md-focused, md-tabs .md-tab.md-focused, md-tabs.md-default-theme .md-tab.md-focused md-icon, md-tabs .md-tab.md-focused md-icon{
	color: rgb(37,50,60);
	font-weight:$weight-medium;
	font-size: 14px;
}

.md-tab {
    font-size: 14px;
    text-align: center;
    line-height: 24px;
    padding: 12px 14px;
    transition: background-color 0.35s cubic-bezier(0.35, 0, 0.25, 1);
    cursor: pointer;
    white-space: nowrap;
    position: relative;
    text-transform: uppercase;
    float: left;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
}
md-tabs.md-default-theme .md-tab .md-ripple-container, md-tabs .md-tab .md-ripple-container {
    color: rgb(148, 150, 249);
}
md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
    color: rgb(37,50,60);
    background: rgb(37,50,60);
}





@media (min-width: 1440px){
	.profile-header{
		width:1440px;
		margin:0 auto;
	}
  
}