//Variables

$brand-main: #888888;
$brand-bg: #f5f5f5;
$brand-grey-light: #fafafa;
$brand-lighter: #d1d1d1;

$brand-grey:#b2bac4;

$brand-blue:#3f536c;
$brand-blue-bright:#3a7cdc;
$brand-blue-light:#b0bec5;
$brand-blue-lighter:#f5fafe;

$box-padding:15px;
$chat-margin: 20px;

$brand-font:'Roboto', sans-serif;
$brand-color:#757575;

$weight-normal:400;
$weight-bold:700;
$weight-black:900;