//Account summary
.account-summary{
  padding:0;
  margin:0;
  .profile-panel{
    padding:30px 15px;;
    background-color:#70a7d2;
    .icon{
      width:10%
    }
    .middle{
      float: left;
      width: 80%;
      margin:0 auto;
      text-align: center;
    }
    .image{
      background-color: #6596bd;
      height:80px;
      width:80px;
      border-radius:50%;
      margin:0 auto;
      img{
        padding:28px;
      }
    }
    .name{
      padding-top:10px;
      color:white;
      font-size: 16px;
      span{
        font-size: 12px;
        display: block;
      }
    }
    .edit-white{
      width:10%;
      float: right;
      text-align:right;
      font-size: 12px;
      font-weight: $weight-bold;
      color:white;
    }
  }
  .listed-services{
    background-color:#fafafa;
    margin:20px;
    border:1px solid $brand-grey-light;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2);
    .no-services{
      padding: 40px 40px 35px 40px;
      text-align: center;
      font-size: 14px;
      div{
        font-weight: $weight-bold;
      }
      p{

      }
    }
    .service-item{
      border-bottom: 1px solid #eeeeee;
      .title{
        font-size: 16px;
        color: $brand-blue;
        font-weight: $weight-bold;
        padding:15px;
        float:left;
      }
      .department{
        float:right;
        margin:15px;
        padding:5px 10px ;
        color: #70a7d2;
        background-color:#ecf2f6;
        border-radius: 12px;
        font-size: 10px;
        font-weight: $weight-bold;
        text-transform: uppercase;
      }
    }
    .connect-btn{
      cursor: pointer;
      padding:15px;
      color: $brand-blue-light;
      span{
        float: left;
        width: 75%;
      }
      img{
        padding-top:5px;
        float:right;
      }
    }

  }
  .privacy-btn{
    border-top:1px solid #f0f0f0;
    cursor: pointer;
    padding: 20px 15px;
    font-size: 14px;
    color: $brand-blue;
    font-weight: $weight-bold;
    text-transform: uppercase;
    span{
      float: left;
      width: 75%;
    }
    img{
      padding-top:5px;
      float:right;
    }
  }
}
.detail-panel{
    margin-top: 10px;
    border-top:1px solid #f0f0f0;
     .detail-panel-padding{
      padding:20px;
     }
    .title{
      width:70%;
      float: left;
      color:#6596bd;
      font-weight: $weight-bold;
      font-size: 12px;
      text-transform: uppercase;

    }
    .content{
      clear: both;
      font-size: 14px;
      padding-top:10px;
      .field-name{
        float:left;
        width:30%;
        font-weight: $weight-bold;
        color:$brand-blue-light;
      }
      .field-value{
        float: left;
        width:70%;
        color:$brand-blue;
      }
    }
    .edit{
      width:10%;
      float: right;
      text-align:right;
      font-size: 12px;
      font-weight: $weight-bold;
      color:$brand-blue-light;
    }

  }