//Available Services
.available-services{
  padding:0;
  margin:0;
  .profile-panel{
    padding:30px 15px;;
    background-color:white;
    .middle{
      float: left;
      width: 90%;
      margin:0 auto;
      text-align: center;
      .title{
        padding-top:15px;
        font-size: 24px;
        font-weight: $weight-black;
        color: $brand-blue;
      }
      .sub-title{
        padding-top:15px;
        font-size: 14px;
        color: $brand-blue-light;
      }
    }
  }
  .container{
    width:100%;
    margin:0 auto;
  }
  .service-item-container{
    float:left;
    width: 33%;
    height:120px;
    
  }
  .service-item{
    margin:15px auto 15px auto;
    background-color: #70a7d2;
    width: 80px;
    height: 80px;
    border-radius:50%;
    display: table;
    padding:10px;
    transition: width 0.5s, height 0.5s,background-color 0.5s ease;
    cursor:pointer;
    .text{
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      color:white;
      font-size: 12px;
      line-height: 14px;
    }
    
  }
  .service-item-selected{

    margin:9px auto 11px auto;
    background-color: #a0cef2;
    width: 90px;
    height: 90px;
    padding:15px;
    transition: width 0.5s, height 0.5s, background-color 0.5s ease;
    .text{
      vertical-align: bottom;
      padding-bottom:8px;
      color:white;
      font-size: 12px;
      line-height: 14px;
    }
  }

  //privacy
  .share-info{
    font-size: 16px;
    color:#455a64;
    padding:0 15px 15px 15px;
    border-bottom:1px solid #f0f0f0;
    div{
      float: left;
      width:70%;
      padding-top:3px;
    }

  }
  .privacy-container{
    padding:15px;
  }
  .privacy-item{
    padding-top:10px;
    color:lighten(#455a64, 40);
    font-size: 14px;
    cursor: pointer;
    span{
      padding-left:28px;
      padding-top:3px;
    }
  }
  .active{
    color:#455a64;
    span{
      padding-left:10px;
      padding-top:3px;
    }
  }
  .privacy-toggle{
    background-color:white;
    color:#93c1e5;
    font-size: 12px;
    padding: 2px 15px;
    font-weight:$weight-bold;
    border:2px solid #93c1e5;
    border-radius:6px;
    text-transform:uppercase;
    &:active, &:hover{
      background-color:white;
      border:2px solid #93c1e5;
      color:#93c1e5;
      box-shadow:none;
    }
  }
}