//$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower


//Variables
$brand-main: #888888;
$brand-bg: #f5f5f5;
$brand-grey-light: #fafafa;
$brand-lighter: #d1d1d1;

$brand-blue:#455a64;
$brand-blue-bright:#71a8e8;
$brand-blue-light:#b0bec5;
$brand-blue-lighter:#f5fafe;

$box-padding:15px;
$chat-margin: 20px;

$brand-font:'Roboto', sans-serif;
$brand-color:#757575;

$weight-normal:400;
$weight-bold:700;
$weight-black:900;

//Global styles 
h1, h2, h3, h4, h5, h6 {
    font-family: $brand-font;
    color: $brand-color;
}
body, p, div {
    font-family: $brand-font;
    color: $brand-color;
}

.box-border{
	border-radius:4px;
	border: none;
	//box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.15);
}

//Sign in header
.sign-in-panel{
  padding:15px;
  height:55px;
  border-bottom: 1px solid #efefef; 

  .sign-in-btn, .dash-btn{
    padding-top:5px;
    color:$brand-blue-light;
    font-size:14px;
    font-weight:$weight-bold;
    cursor:pointer;
  }
  .dash-btn{
    border-right: 1px solid $brand-grey-light;
    margin-right:10px;
    padding-right:10px;
  }
}

//Chat styles
h1{
  color:$brand-blue;
  font-weight:$weight-black;
  font-size:32;
}
h2{
  color:$brand-blue-light;
  font-weight:$weight-bold;
  font-size:14px;
}
.chat-window{
	padding:$box-padding;
}
.scroll-frame{
  overflow-y: scroll;
  overflow-x: hidden;

  height: 380px;
  margin-bottom:35px;
}
.scroll-frame::-webkit-scrollbar { 
  display: none; 
}
.chat-frame{
	width:100%;
	padding:50px 0 0 0;

  .chat-block{
    width: 100%;
    clear: both;
    margin-top: $chat-margin;
    float: left;
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
  .slider-width{
    width: 170%;
  }

	.chat-bubble{
		background-color:$brand-blue-lighter;
		width:80%;
		padding:$box-padding;
		margin-top: $chat-margin;
		float: left;
		color:$brand-blue-bright;
    border-radius:4px;
    font-size:16px;
    a{
      text-decoration: underline;
      font-weight: $weight-bold;
    }
	}
	.chat-bubble-user{
	background-color:$brand-lighter;
	float: right;
	color:black;
	}
	.chat-think{
		margin-top: $chat-margin;
		float: left;
		border-radius: 3px;
		background-color:white;
		width:70px;
    height:50px;
    background-color:$brand-blue-lighter;
    border-radius:25px;
    padding-top:11px;

		@extend .box-border;
	}
	.chat-module{
		margin-top: $chat-margin;
		float: left;
	}
	.chat-input{
		float:right;
		width: 40%;
		padding: 24px 20px; 
		
		transition: width 0.5s ease-in-out;
		@extend .box-border;
    background-color:$brand-grey-light;
    box-shadow:none;
    font-size:16px;
    color:$brand-blue;
		&:focus{
			width: 100%;
			transition: width 0.5s ease-in-out;
		}
	}

}
  	
//Chat modules

//Slider
.slick-slider {
    margin-bottom: 0;
}
.slider-item{
	padding:$box-padding 8px $box-padding 8px ;
	height: 150px;
	background-color:white;
	margin-right: 5px;
  position:relative;
  .box-bottom{
    position: absolute;
    bottom: 20px;
    height:52px;
    clear:both;
    width: 94%;
  }
  .yes-icon{
    padding-left:5px;
    width:18%;
  }
  .content{
    color:white;
    font-size:16px;
    font-weight:$weight-bold;
     width:64%;
     span{
      font-size:12px;
      font-weight:$weight-normal;
     }
  }
  .info{

    width:18%;
    img{
      float: right;
    }
  }

}
.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: none;
}


//Map styles
.location-box{
  background-color:white;
  border-radius:2px;
  border: 1px solid $brand-grey-light;
  .bottom-border{
    border-bottom:1px solid $brand-grey-light;
    height:40px;
  }
  input{
    box-shadow:none;
    font-size:16px;
    border:none;
    padding: 30px 20px
  }
  .geo-question{
    p{
      font-size:16px;
      font-weight:$weight-bold;
      color: $brand-blue;
      padding: 20px 0 10px 0;
    }
  }
}
.map{
  height: 160px;
}

//Contact box
.contact-boxes{
  width:252px;
  float: right;
  .contactbox{
    width:80px;
    height:80px;
    margin:2px;
    font-size: 12px;
    font-weight: bold;
    
    text-align: center;
    padding:20px 0;
    p{
      color:white;
      padding-top:8px;
    }
    //box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.15);
  }
  .contactbox-left{
    background-color: #a0cef2;
    float:left;
    border-radius: 5px 0 0 5px;
  }
  .contactbox-center{
    background-color: #a0cef2;
    float:left;
  }
  .contactbox-right{
    background-color: #f69b81;
    float:left;
    border-radius: 0 5px 5px 0;
  }
  .active{
    box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.15);
  }
}

// Login frame
.login-screen{
  .back-btn{
    margin-top: 30px;
  }
  .title{
    color:$brand-blue;
    font-size: 24px;
    font-weight:$weight-black;
    margin-bottom: 50px;
  }
  .or-divide{

    margin:50px auto 30px auto;
    width: 85%;
    border-top: 1px solid $brand-grey-light;
    .or{
      position:relative;
      margin:0 auto;
      top:-17px;
      width: 36px;
      height: 36px;
      border-radius:50%;
      padding:10px;
      background-color:$brand-grey-light;
      color:$brand-blue-light;
      font-size: 12px;
      font-weight:$weight-bold;
   }
  }
  .input{
    width:70%;
    margin: 0 auto;
    input{
      border:none;
      font-size: 16px;
      background-color:$brand-grey-light;
      padding:23px;
      margin-top: 10px;
    }
  }
}

//Account summary
.account-summary{
  padding:0;
  margin:0;
  .profile-panel{
    padding:30px 15px;;
    background-color:#70a7d2;
    .icon{
      width:10%
    }
    .middle{
      float: left;
      width: 80%;
      margin:0 auto;
      text-align: center;
    }
    .image{
      background-color: #6596bd;
      height:80px;
      width:80px;
      border-radius:50%;
      margin:0 auto;
      img{
        padding:28px;
      }
    }
    .name{
      padding-top:10px;
      color:white;
      font-size: 16px;
      span{
        font-size: 12px;
        display: block;
      }
    }
    .edit-white{
      width:10%;
      float: right;
      text-align:right;
      font-size: 12px;
      font-weight: $weight-bold;
      color:white;
    }
  }
  .listed-services{
    background-color:#fafafa;
    margin:20px;
    border:1px solid $brand-grey-light;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2);
    .no-services{
      padding: 40px 40px 35px 40px;
      text-align: center;
      font-size: 14px;
      div{
        font-weight: $weight-bold;
      }
      p{

      }
    }
    .service-item{
      border-bottom: 1px solid #eeeeee;
      .title{
        font-size: 16px;
        color: $brand-blue;
        font-weight: $weight-bold;
        padding:15px;
        float:left;
      }
      .department{
        float:right;
        margin:15px;
        padding:5px 10px ;
        color: #70a7d2;
        background-color:#ecf2f6;
        border-radius: 12px;
        font-size: 10px;
        font-weight: $weight-bold;
        text-transform: uppercase;
      }
    }
    .connect-btn{
      cursor: pointer;
      padding:15px;
      color: $brand-blue-light;
      span{
        float: left;
        width: 75%;
      }
      img{
        padding-top:5px;
        float:right;
      }
    }

  }
  .privacy-btn{
    border-top:1px solid #f0f0f0;
    cursor: pointer;
    padding: 20px 15px;
    font-size: 14px;
    color: $brand-blue;
    font-weight: $weight-bold;
    text-transform: uppercase;
    span{
      float: left;
      width: 75%;
    }
    img{
      padding-top:5px;
      float:right;
    }
  }
}
.detail-panel{
    margin-top: 10px;
    border-top:1px solid #f0f0f0;
     .detail-panel-padding{
      padding:20px;
     }
    .title{
      width:70%;
      float: left;
      color:#6596bd;
      font-weight: $weight-bold;
      font-size: 12px;
      text-transform: uppercase;

    }
    .content{
      clear: both;
      font-size: 14px;
      padding-top:10px;
      .field-name{
        float:left;
        width:30%;
        font-weight: $weight-bold;
        color:$brand-blue-light;
      }
      .field-value{
        float: left;
        width:70%;
        color:$brand-blue;
      }
    }
    .edit{
      width:10%;
      float: right;
      text-align:right;
      font-size: 12px;
      font-weight: $weight-bold;
      color:$brand-blue-light;
    }

  }

//Available Services
.available-services{
  padding:0;
  margin:0;
  .profile-panel{
    padding:30px 15px;;
    background-color:white;
    .middle{
      float: left;
      width: 90%;
      margin:0 auto;
      text-align: center;
      .title{
        padding-top:15px;
        font-size: 24px;
        font-weight: $weight-black;
        color: $brand-blue;
      }
      .sub-title{
        padding-top:15px;
        font-size: 14px;
        color: $brand-blue-light;
      }
    }
  }
  .container{
    width:100%;
    margin:0 auto;
  }
  .service-item-container{
    float:left;
    width: 33%;
    height:120px;
    
  }
  .service-item{
    margin:15px auto 15px auto;
    background-color: #70a7d2;
    width: 80px;
    height: 80px;
    border-radius:50%;
    display: table;
    padding:10px;
    transition: width 0.5s, height 0.5s,background-color 0.5s ease;
    cursor:pointer;
    .text{
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      color:white;
      font-size: 12px;
      line-height: 14px;
    }
    
  }
  .service-item-selected{

    margin:9px auto 11px auto;
    background-color: #a0cef2;
    width: 90px;
    height: 90px;
    padding:15px;
    transition: width 0.5s, height 0.5s, background-color 0.5s ease;
    .text{
      vertical-align: bottom;
      padding-bottom:8px;
      color:white;
      font-size: 12px;
      line-height: 14px;
    }
  }

  //privacy
  .share-info{
    font-size: 16px;
    color:#455a64;
    padding:0 15px 15px 15px;
    border-bottom:1px solid #f0f0f0;
    div{
      float: left;
      width:70%;
      padding-top:3px;
    }

  }
  .privacy-container{
    padding:15px;
  }
  .privacy-item{
    padding-top:10px;
    color:lighten(#455a64, 40);
    font-size: 14px;
    cursor: pointer;
    span{
      padding-left:28px;
      padding-top:3px;
    }
  }
  .active{
    color:#455a64;
    span{
      padding-left:10px;
      padding-top:3px;
    }
  }
  .privacy-toggle{
    background-color:white;
    color:#93c1e5;
    font-size: 12px;
    padding: 2px 15px;
    font-weight:$weight-bold;
    border:2px solid #93c1e5;
    border-radius:6px;
    text-transform:uppercase;
    &:active, &:hover{
      background-color:white;
      border:2px solid #93c1e5;
      color:#93c1e5;
      box-shadow:none;
    }
  }
}


.service-info-popup{
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.75); 
  top:0;
  left: 0;
  z-index: 999;
  .box{
    position: relative;
    top:25%;
    width:80%;
    margin: 20px auto;
  }
  .title{
    padding: $box-padding;
    color:white;
    span{
      display:block;
      padding-top:60px;
      font-size:24px;
      font-weight:$weight-black;
    }
  }
  .content{
    background-color:white;
    padding:$box-padding $box-padding 40px $box-padding;
  }
}

// Buttons
.btn-google{
  background-color:#f69b81;
  color:white;
  border:none;
  font-size: 14px;
  padding: 10px 20px;
  img{
    padding-left:10px;
  }
  &:hover{
    background-color:#f69b81;
    color:white;
  }
}
.btn-continue-in{
  margin-top: 10px;
  background-color:#a0cef2;
  color:white;
  border:none;
  font-size: 14px;
  padding: 13px;
  width:100%;
  cursor: pointer;
  img{
    padding-left:10px;
  }
  &:focus, &:hover{
    background-color:#a0cef2;
    color:white;
  }
}
.btn-yes{
  background-color:$brand-blue;
  color:white;
  font-size: 14px;
  padding: 13px 40px;
  margin-bottom:20px;
  font-weight:$weight-bold;
  border:none;
  &:hover{
    background-color:$brand-blue;
    color:white;
  }
}
.btn-tab{
  background-color:white;
  color:$brand-blue-light;
  font-size: 12px;
  padding: 3px 15px;
  margin:10px 3px;
  font-weight:$weight-bold;
  border:none;
  border-radius:12px;
  text-transform:uppercase;
  &:active, &:hover{
    background-color:#eceff1;
    color:$brand-blue;
    box-shadow:none;
  }
}

.btn-have-look{
  background-color:white;
  color:#93c1e5;
  font-size: 12px;
  padding: 8px 20px;
  margin:10px 3px;
  font-weight:$weight-bold;
  border:2px solid #93c1e5;
  border-radius:6px;
  text-transform:uppercase;
  &:active, &:hover{
    background-color:white;
    border:2px solid #93c1e5;
    color:#93c1e5;
    box-shadow:none;
  }
}
.edit-in-btn {

}
.selected{
    background-color:#eceff1;
    color:$brand-blue;
    box-shadow:none;
}

// Dashboard 


.dashboard{
  background-color:#fafafa;
	.card{
    border-radius:4px;
    margin:0 15px;
    background-color:white;
    width:240px;
    margin:10px;
    box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
  }
  .padding-wrapper{
    padding:15px;
  }
  //card buttons
  .btn-card-red{
    width:100%;
    background-color:#f79b82;
    margin: 20px  0 20px 0;
    color:white;
    font-weight:$weight-bold;
  }
  .btn-green{
    width:100%;
    background-color:#98e4a9;
    margin: 25px  0 10px 0;
    color:white;
    font-weight:$weight-bold;
  }
  .btn-blue{
    width:100%;
    background-color:#5094e3;
    margin: 25px  0 10px 0;
    color:white;
    font-weight:$weight-bold;
  }
  .btn-map{
    width:100%;
    background-color:white;
    padding:10px 10px;
    color:#5094e3;
    font-weight:$weight-normal;
    border-left:2px solid #a0cef2;
    border-radius:0;
    text-align:left;
    img{
      padding: 0 20px 0 10px;
    }
  }
  .btn-cal{
    width:100%;
    background-color:white;
    padding:10px 10px;
    color:#455a64;
    font-weight:$weight-normal;
    border-radius:0px 0px 4px 4px;
    text-align:left;
    border-top:1px solid $brand-grey-light;
    img{
      padding: 0 20px 0 10px;
    }
  }

  .card1{
    
    .icon{
      float:left;
      padding-right:15px;
    }
    .content{
      float:left;
    }
    .title{
      font-size:18px;
      font-weight:$weight-bold;
      display:block;
      color:#455a64;
      padding-top:3px;
    }
    .sub-title{
      font-size:14px;
      color:#b0bec5;
      display:block;
      padding-top:3px;
    }
    .date{
      border-top:1px solid $brand-grey-light;
      font-size:12px;
      color:#b0bec5;
      span{
        display:block;
        padding:15px;
      }
    }
  }

  .card2{
    background-color:#7edd94;
    text-align:left;
    .sub-title{
      font-size:14px;
      color:white;
      display:block;
      padding-top:10px;
    }
    .title{
      font-size:24px;
      color:white;
      font-weight:$weight-bold;
      line-height:28px;
      padding-top:5px;
    }
    
  }

  .card3{
    background-color:#5094e3;
    text-align:left;
    padding:10px 0;
    .sub-title{
      font-size:12px;
      color:white;
      display:block;
    }
    .title{
      font-size:18px;
      color:white;
      font-weight:$weight-bold;
    }
    
  }

  .card4{
    background-color:white;
    text-align:left;
    padding:10px 0 0 0;
    .title{
      font-size:18px;
      color:#455a64;
      font-weight:$weight-bold;
    }
    .course{
      border-top:1px solid $brand-grey-light;
      .title{
        font-size:14px;
        color:#5094e3;
      }
      .time{
        font-size:14px;
        color:#b0bec5;
      }
    }    
  }

  .card5{
    background-color:white;
    text-align:left;
    padding:10px 0 0 0;
    .title{
      font-size:18px;
      color:#455a64;
      font-weight:$weight-bold;
    }
    .sub-title{
      font-size:12px;
    }
    .content{
      border-top:1px solid $brand-grey-light;
      .title{
        font-size:14px;
        color:#455a64;
        font-weight:$weight-normal;
      }
      .link{
        font-size:14px;
        color:#5094e3;
      }
      .date{
        font-size:14px;
        color:#b0bec5;
      }
    }    
  }

  .card6{
    background-color:white;
    text-align:left;
    padding:0;
    .top{
      .left{
        background-color:#4a90e2;
        height:8px;
        float:left;
        width:30%;
        border-radius:4px 0 0 0;
      }
      .right{
        height:8px;
        background-color:#e2f0fb;
        float:right;
        width:70%;
        border-radius:0 4px 0 0;
      }
    }
    .title{
      font-size:18px;
      color:#455a64;
      font-weight:$weight-bold;
      padding-top:10px;
    }
    .sub-title{
      font-size:12px;
    }
  }
  
  .card7{
    background-color:white;
    text-align:left;
    padding:10px 0 0 0;
    .title{
      font-size:18px;
      color:#455a64;
      font-weight:$weight-bold;
      span{
        color:#f69b81;
      }
    }
    .sub-title{
      font-size:12px;
    }
    .map{
      height:120px;
    }
  }


}
