<div id="{{chatModuleRef}}" class="chat-module chat-single-choice" ng-init="init()">

	<div class="container">
		<div class="col-md-12">
			<div class="avatar">
				<img src="images/avatar.png" >
			</div>
			<section>
				<p ng-bind-html="query.title"></p>
				<ul class="clearfix">
					<li ng-repeat="answer in responses" ng-class="{active: answer.isSelected}" ng-click="answerClicked($index, answer)" ng-bind-html="answer.title"></li>
				</ul>
			</section>
			<div class='container__services' ng-show="{{services.length > 0}}">
				<!--<h3>Services</h3>-->
				<ul class="clearfix">
					<li ng-repeat="item in services" ng-click="serviceClicked(item)" class="navbar-toggle" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body"><span ng-bind-html="item.title"></span><span class="read-more">Read more</span></li>
				</ul>
			</div>
		</div>
	</div>
</div>
