<div class="chat-module chat-options" >
	<button class="button btn-proto center-block" ng-click="summaryClicked()" ng-show="{{responses.length < 1 && query.storedResponses.length < 1}}">Summary</button>
	<button class="button btn-proto center-block" ng-click="answerClicked(query.storedResponses[0])" ng-show="{{query.storedResponses.length > 0}}">OK</button>

	<!--<div class="container" ng-show="{{query.storedResponses.length > 0}}">
		<div class="col-md-12">
			<h3>More Options</h3>
			<ul class="clearfix">
				<li ng-repeat="answer in query.storedResponses" ng-click="answerClicked(answer)">
					<img src="images/multi-icon.png"><br/>
					<span ng-bind-html="answer.title"></span>
				</li>
			</ul>
		</div>
	</div>-->
</div>
