<div id="{{chatModuleRef}}" class="chat-module chat-boolean-choice">
	<div class="container">
		<div class="col-md-12">
			<div class="avatar">
				<img src="images/avatar.svg" >
			</div>
			<section>
				<p ng-bind-html="query.title">Test title</p>
			</section>
				<button class=" btn-boolean-dark" ng-click="answerClicked(responses[0])">{{responses[0].title}}</button>
				<button class=" btn-boolean-light" ng-click="answerClicked(responses[1])">{{responses[1].title}}</button>
			<div>
				<div class='container__services' ng-show="{{services.length > 0}}">
					<!--<h3>Services</h3>-->
					<ul class="clearfix">
						<li ng-repeat="item in services" ng-click="serviceClicked(item)" class="navbar-toggle" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body"><span ng-bind-html="item.title"></span><span class="read-more">Read more</span></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
