<div id="{{chatModuleRef}}" class="chat-module chat-multiple-choice" >
	<div class="container">
		<div class="col-md-12">
			<div class="avatar">
				<img src="images/avatar.svg" >
			</div>
			<section>
				<p ng-bind-html="query.title"></p>
				<p ng-bind-html="query.query_detailed_information"></p>
				<ul class="clearfix">
					<li ng-repeat="answer in responses" ng-class="{active: answer.isSelected}" ng-click="answerClicked($index, answer)"><img src="images/multi-icon.png"><br/><span ng-bind-html="answer.title"></span></li>
				</ul>

				<slick settings="slickConfig" ng-if="numberLoaded">
    				<div ng-repeat="answer in responses" ng-class="{active: answer.isSelected}" ng-click="answerClicked($index, answer)">
	    				<div class="drag">
		    				<div ng-bind-html="answer.title"></div>
	    				</div>
	    				<div class="selection-bar">
		    				<div>I'm Interested</div>
		    				<div><img src="images/info.svg" width="24" height="24"></div>
	    				</div>
    				</div>
    			</slick>

				<button class="button btn-proto center-block" ng-click="okClicked()" ng-show="{{responses.length > 0}}">OK</button>

				<div class='container__services' ng-show="services.length > 0">
					<!--<h3>Services</h3>-->
					<ul class="clearfix">
						<li ng-repeat="item in services"
						ng-click="serviceClicked(item)" class="navbar-toggle" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body"><span ng-bind-html="item.title"></span><span class="read-more">Read more</span></li>
					</ul>
				</div>
			</section>
		</div>
	</div>
</div>
