<div class="chat-module chat-resources">
	<span class="module-title">chat resources</span>
	<div class="container">		
		<div class="col-md-12">					 
			<div class="avatar">
				<img src="images/avatar.svg" >
			</div>
			<section>
				In that case, before you keep going, you should read the following about general cafe licences and permits required in Brisbane.
				<ul class="clearfix">
					<li><div class="box"></div><div class="title">Document Title</div><div class="type">PDF</div></li>
					<li><div class="box"></div><div class="title">Document Title</div><div class="type">Website Article</div></li>
					<li><div class="box"></div><div class="title">Document Title</div><div class="type">Government Authority</div></li>
				</ul>
				<button class="button btn-proto center-block">Save for later </button>
			</section>			 
		</div>
	</div>
</div>