<div class="chat-module chat-single-choice">
<span class="module-title">chat single choice</span>
	<div class="container">		
		<div class="col-md-12">					 
			<div class="avatar">
				<img src="images/avatar.png" >
			</div>
			<section>
				That sounds like a plan<br/>
				What type of business do you want to open?
				<ul class="clearfix">
					<li class="active">Espresso Bar</li>
					<li>Construction</li>
					<li>Delivery Service</li>
					<li>Nursery</li>
				</ul>
				<a href="#">OTHER</a>
			</section>			 
		</div>
	</div>
</div>