<div class="chat-summary">
	
	<div class="container">
		<div class="col-md-12"><h2>You could get started today!</h2></div>
		<div class="col-sm-3">
			<h3>Business type</h3>
			<ul>
				<li>Espresso Bar / Cafe</li>
			</ul>
			<h3>Location</h3>
			<ul>
				<li>{{businessLocation}}</li>
			</ul>
			<h3>Zoning</h3>
			<ul>
				<li>No change needed</li>
			</ul>
		</div>
		<div class="col-sm-3">
			<h3>Creative Licence</h3>
			<ul>
				<li>Outside Dinning</li>
				<li>Street Advertising</li>
				<li>Serves Packaged Food</li>
			</ul>
			<h3>You will need</h3>
			<ul>
				<li>2 Permits &amp; Licences</li>
		
			</ul>
		</div>
		<div class="col-sm-3">
			<h3>Complete in</h3>
			<ul>
				<li class="large">{{sessionStats.number_steps}} steps</li>
			</ul>
			<h3 class="">approximate cost</h3>
			<p class="cost">${{sessionStats.cost_min}} - ${{sessionStats.cost_max}}</p>
		</div>
		<div class="col-sm-3">
			
			<button class="button btn-start-app">Start application</button>
			<button class="button btn-save-later">Save for later</button>
		</div>
	</div>

</div>
