<div id="{{chatModuleRef}}" class="chat-module chat-single-choice">
	<div class="container">
		<div class="col-md-12">
			<div class="avatar">
				<img src="images/avatar.svg" >
			</div>
			<section>
				<p ng-bind-html="query.title"></p>
				<p ng-bind-html="query.query_detailed_information"></p>
			</section>
			<ul class="clearfix">
				<li ng-repeat="answer in responses" ng-class="{active: answer.isSelected, unactive: answer.isUnSelected}" class="clearfix" ng-click="answerClicked($index, answer)" ><div class="list-indicator">{{listIndicators[$index]}}</div><div ng-bind-html="answer.title" class="answer"></div></li>
			</ul>

			<div>
				<div class='container__services' ng-show="{{services.length > 0}}">
					<h3>Services</h3>
					<ul class="clearfix">
						<li ng-repeat="item in services" ng-click="serviceClicked(item)" class="navbar-toggle" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body"><span ng-bind-html="item.title"></span><span class="read-more">Read more</span></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
