<div class="gov-header">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-6">
				<img class="qgov-logo" src="images/QGov.svg">
			</div>
			<div class="col-xs-6" ng-hide="userLoggedIn">
				<div class="controls pull-right">
					<span class="sign-up" ng-click="signUpClicked()">SIGN UP</span> OR <span class="login" ng-click="loginClicked()">LOG IN</span>
				</div>
			</div>
			<div class="col-xs-6" ng-show="userLoggedIn">
				<div class=" controls controls-logged pull-right">
					<span class="sign-up" ng-click="topNavClicked()">{{headerNav}}</span>
					<span class="login" ng-click="profileClicked()"> {{userData._userName | uppercase}} <img ng-src="images/profile_{{userData._userID}}.png" alt="user image" /></span><span class="login" ng-click="logoutClicked()">(LOG OUT)</span>
				</div>
			</div>
		</div>
	</div>
</div>