<slick class="invisible" infinite="true" slides-to-show="2" slides-to-scroll="1">
	<div ng-repeat="item in selectedServiceLocations" class="slider-item" ng-style="{'background-color':pinColors[$index]}" ng-mousemove="slideMouseMove()" ng-mousedown="sliderMouseDown($event)" ng-click="locationSliderClick($index)">
		<div class="box-bottom">
			<div class="yes-icon pull-left"><img src="images/yes.png" alt="tick" ng-show="item.selected"></div>
			<div class="pull-left content">{{item.name}}<br/><span>Open Now. 9am - 5pm</span></div>
			<div class="info pull-right" ng-click="serviceInfo($event, item.name, '',{'background-color':pinColors[$index]})">
				<img src="images/info.png" alt="info">
			</div>
		</div>
	</div>
</slick>


	