<section class="popup-sp3-summary">
	<h1>Summary</h1>
	<h2>We recommend contacting these services in your local town. You can reach each service individually or send a single post to everyone.</h2>
	<div style="width:100%; text-align: center;">
		<input type="button" class="btn btn-proto" value="Make A Referral" ng-click="makeRefClicked()">
	</div>

	<div class="title-section">Featured Services</div>
	<section class="clearfix" ng-click="serviceClicked()">
		<div class="left">
			<h3>test title</h3>
			<h4>Safety &amp; Domestic Violence</h4>
			<span class="status">SENT</span>
		</div>
		<div class="right"><img src="images/service-arrow.png"</div>
	</section>
	<section class="clearfix" >
		<div class="left">
			<h3>test title</h3>
			<h4>Safety &amp; Domestic Violence</h4>
			<span class="status">SENT</span>
		</div>
		<div class="right"><img src="images/service-arrow.png"</div>
	</section>
	<section class="clearfix" >
		<div class="left">
			<h3>test title</h3>
			<h4>Safety &amp; Domestic Violence</h4>
			<span class="status">SENT</span>
		</div>
		<div class="right"><img src="images/service-arrow.png"</div>
	</section>
	<div class="title-section">Other Services</div>
	<section class="clearfix">
		<div class="left">
			<h3>test title</h3>
			<h4>Safety &amp; Domestic Violence</h4>
			<span class="status">SENT</span>
		</div>
		<div class="right"><img src="images/service-arrow.png"</div>
	</section>
</section>

<section class="services">
	<div class="top">
		<h1>Goodstart Early Learning</h1>
		<h2>Day Care Center</h2>
	</div>
	<div class="content">
		<div class="open-time">Open Mon - Fri 6:30am - 6pm</div>
		<div class="address">61 Shakespeare St Mackay QLD 4740, Australia</div>
		<div class="phone">+61 1800 222 543</div>
		<div class="web"></div>
	</div>

</section>
