<section class="popup-sp3-summary">
	<h1>Summary</h1>
	<h2>We recommend contacting these services in your local town. You can reach each service individually or send a single post to everyone.</h2>
	<div style="width:100%; text-align: center;">
		<input type="button" class="btn btn-proto" value="Make A Referral" ng-click="makeRefClicked()">
	</div>

	<div class="title-section">Featured Services</div>
	<section ng-repeat="item in featuredService" class="clearfix service-item" ng-click="serviceClicked($index)">
		<div class="left">
			<h3 ng-bind-html="item.title">test title</h3>
			<h4 ng-bind-html=""></h4>
			<span class="status">SENT</span>
		</div>
		<div class="right"><img src="images/service-arrow.png"</div>
	</section>
	<div class="title-section" ng-show="otherService.length > 0">Other Services</div>
	<section ng-repeat="item in otherService" class="clearfix service-item" ng-click="serviceClicked()">
		<div class="left">
			<h3>test title</h3>
			<h4>Safety &amp; Domestic Violence</h4>
			<span class="status">SENT</span>
		</div>
		<div class="right"><img src="images/service-arrow.png"</div>
	</section>
</section>

<section class="services clearfix" ng-show="showService">
	<div class="top">
		<img src="images/service-close.png">
		<h1 ng-bind-html="selectedService.title">Goodstart Early Learning</h1>
		<h2>Sub title</h2>
	</div>
	<div class="content">
		<div ng-bind-html="" class="open-time">
		<img src="images/icon-opening.svg">
			Open Mon - Fri 6:30am - 6pm</div>
		<div ng-bind-html="selectedService.address"class="address">61 Shakespeare St Mackay QLD 4740, Australia</div>
		<div ng-bind-html="selectedService.phone_number"class="phone">+61 1800 222 543</div>
		<div ng-bind-html="selectedService.further_information_link" class="web"><a href="{{selectedService.further_information_link}}">{{selectedService.further_information_link}}</a> </div>
	</div>
	<div class="map" map-lazy-load="https://maps.google.com/maps/api/js">
	  	<ng-map center="59.32522, 18.07002" zoom="13">
        	<marker position="59.327383, 18.06747"
	          animation="DROP"
	          draggable="false"></marker>
      	</ng-map>
	</div>

	<div class="left">
		<button class="btn-service-action" ng-click="callback(selectedService.title)">
			<img src="images/callback-icon.svg" width="30" height="30"><br/>Request A<br/>Callback</button>
	</div>
	<div class="right">
		<button class="btn-service-action">
			<img src="images/referral-icon.svg" width="30" height="30"><br/>Make a<br/>referral</button>
	</div>

	</div>
</section>
