<div class="service-information">
	<div class="close" ng-click="closeClicked()"><strong>x</strong></div>
	<h1>{{sidePanelService.title}}</h1>
	<div ng-show="sidePanelService.department != null">
		<h2>Department</h2>
		<p ng-bind-html="sidePanelService.department"></p>
	</div>

	<div ng-show="sidePanelService.cost_description != null">
		<h2>Cost Description</h2><p ng-bind-html="sidePanelService.service_customer_description"></p>
	</div>

	<div ng-show="sidePanelService.cost_min != null" class="spacer">
		<h2>Cost Min: </h2>$<span ng-bind-html="sidePanelService.cost_min"></span><br/>
	</div>

	<div ng-show="sidePanelService.cost_max != null" class="spacer">
		<h2>Cost Max: </h2>$ <span ng-bind-html="sidePanelService.cost_max"></span><br/>
	</div>

	<div ng-show="sidePanelService.time_valid != null" class="spacer">
		<h2>Time Valid: </h2> <span ng-bind-html="sidePanelService.time_valid"></span>
	</div>

	<div ng-show="sidePanelService.service_customer_description != null">
		<h2>Service Description</h2>
		<p ng-bind-html="sidePanelService.service_customer_description"></p>
	</div>

	<div ng-show="sidePanelService.processing_time != null">
		<h2>Processing Time</h2>
		<p ng-bind-html="sidePanelService.processing_time"></p>
	</div>

	<div ng-show="sidePanelService.special_criteria != null">
		<h2>Special Criteria</h2>
		<p ng-bind-html="sidePanelService.special_criteria"></p>
	</div>

	<div ng-show="sidePanelService.further_information_link != null">
		<a class="btn-slide center-block" href="{{sidePanelService.further_information_link}}" target="_blank">Further Information <img src="images/external-link.png"></a><br/>
		<a class="btn-slide-outline center-block" ng-click="closeClicked()" target="_blank">Read Later</a>
	</div>

	<div ng-show="sidePanelService.dependencies != null">
		<h2>Dependencies</h2>
		<p ng-bind-html="dependency_description"></p>
		<ul>
			<li ng-repeat="item in dependencies"><h2>REQUIRED</h2><span ng-bind-html="item.title"></span></li>
		</ul>
	</div>
</div>
