<div>
	<govheader></govheader>
	<div class="dashboard-header clearfix">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1 class="title">Queensland Government Home</h1>
					<h2 class="title">The best place to find government services and information</h2>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row"> 
			<div class="col-md-12">
				<chatsidebar class="chat-sidebar"></chatsidebar>
			</div>
		</div>
	</div>
	<div class="widget-wrapper">
		<div class="container">
			<div class="row"> 
				<div class="col-md-12 clearfix">
					<div class="filter pull-left">Sort By <span>Priority <img src="images/arrow-drop.svg" width="25" height="25"></span></div>
				</div>
			
				<div class="col-md-12">
					<dashboardcards class="dashboard" >					
						<div id="dashboardCards" masonry='{ "transitionDuration" : "0.4s" , "itemSelector" : ".masonry-brick"}' >
							
							<widget-item masonry-tile ng-repeat="widget in widgetData" content="widget" class=" widget masonry-brick" ng-class="widget.WidgetType"></widget-item>					


						</div>

						
						

						
					</dashboardcards>
				</div>
			</div>
		</div>
		<!--Output from RABBITMQ: {{stompMsgCount}}
		<div id="nodeoutput">{{stompdata}}</div>-->
	</div>
	<img src="images/dashboard-marketing.png" class="marketing-img">

	
</div>