<govheader></govheader>
<div class="profile-header clearfix">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="title">My Digital ID</h1>
			</div>
		</div>
	</div>
</div>

<div class="container">
<div class="row">
		<div class="col-md-12 ">
<md-content class="clearfix">
    <md-tabs md-dynamic-height="" md-border-bottom="" >
      <md-tab label="ACCOUNT">
        <md-content class="md-padding account">
        <div class="row">
          <div class="col-sm-6 spotlight1">
          <img src="images/icon-info.svg" width="20"/>
            <p><strong>Do more,</strong> simply easily and securely online</p>
            
            <input type="text" placeholder="Add Your Drivers Licence Number">
          </div>
          <div class="col-sm-6 spotlight2">
            <p>Morgan Strong invited you to join <strong>Acme Inc.</strong> as an Executive Assistant.</p>
            <button>Join Business</button>
            <a href="#">What does this mean?</a>
          </div>
        </div>
        <div class="row">
          <section class="clearfix">
            <div class="col-sm-3 section-title">Personal</div>
            <div class="col-sm-3">
              <span class="title">Name</span>
              <span class="content">Matthew Neal</span>
              <div class="spacer"></div>
              <span class="title">Birthday</span>
              <span class="content">08 October 1982 (age 33)</span>
            </div>
            <div class="col-sm-5">
              <img ng-src="images/profile_2.png" alt="user image" />
            </div>
            <div class="col-sm-1"><a href="">Edit</a></div>
          </section>
        </div>
        <div class="row">
          <section class="clearfix">
            <div class="col-sm-3 section-title">Contact</div>
            <div class="col-sm-3">
              <span class="title">Phone</span>
              <span class="content">+61 0431 557 678</span>
            </div>
            <div class="col-sm-5">
              <span class="title">Email</span>
              <span class="content">matt@liquidinteractive.com.au</span>
            </div>
            <div class="col-sm-1"><a href="">Edit</a></div>
          </section>
        </div>
        <div class="row">
          <section class="clearfix">
            <div class="col-sm-3 section-title">Address</div>
            <div class="col-sm-3">
              <span class="title">Home</span>
              <span class="content">5/19 - 21 Gordon Street<br/>Greenslopes<br/>QLD 4120</span>
            </div>
            <div class="col-sm-5">
              <span class="title">Post Box</span>
              <span class="content">PO BOX 346<br/>Fortitude Valley <br/>QLD 4120</span>
            </div>
            <div class="col-sm-1"><a href="">Edit</a></div>
          </section>
        </div>
        <div class="row">
          <section class="clearfix">
            <div class="col-sm-3 section-title">Family &amp; <br/>Relationships</div>
            <div class="col-sm-3">
              <div class="family">
                <img  src="images/family.png">
              </div>
              <span class="content">In a relationship since 2009</span>
              <span class="title">Lana Kane</span>
              
            </div>
            <div class="col-sm-5">
              
            </div>
            <div class="col-sm-1"><a href="">Edit</a></div>
          </section>
        </div>
        <div class="row">
          <section class="clearfix">
            <div class="col-sm-3 section-title">Payment</div>
            <div class="col-sm-8">
              <img src="images/payment.png">
            </div>
            <div class="col-sm-1"><a href="">Edit</a></div>
          </section>
        </div>
        <div class="row">
          <section class="clearfix">
            <div class="col-sm-3 section-title">Security</div>
            <div class="col-sm-3">
              <span class="title">Password</span>
              <span class="link">Change Password</span>
              <span class="note">Manage your QGov password for logging in to My Account.</span>
            </div>
            <div class="col-sm-3">
              <span class="title">Two-Step Verification</span>
              <span class="link">Enable</span>
              <span class="note">Manage your QGov password for logging in to My Account.</span>
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-1"><a href="">Edit</a></div>
          </section>
        </div>

        </md-content>
      </md-tab>
      <md-tab label="AGENCIES">
        <md-content class="md-padding">
          	<div class="filters">
				<a ng-class="{'filter-selected':!disableFilter}" ng-click="filterServicesClicked(false)">CONNECTED</a> |	<a ng-class="{'filter-selected':disableFilter}" ng-click="filterServicesClicked(true)">ALL</a>
			</div>

          <div class="col-sm-6" ng-repeat="agencyList in agencyView">
					<div ng-repeat="item in agencyList | filter: (!disableFilter || '') && {connected: true}">
						<div class="service" ng-class="{'service-open':item.panelOpen}">
							<div class="header clearfix" ng-click="openPanel(item)">
								<div class="icon" ></div> 
								<div class="title" >
									<h2>{{item.name}}</h2>
									<h3><span ng-show="item.connected"><span ng-repeat="category in item.categories | filter: { enabled: true }">{{category.name}}{{$last ? '' : ', '}} </span></span><span ng-hide="item.connected">Not Connected </span></h3>
								</div>
								<button class="btn-profile" ng-click="connectToAgencyClicked($event, item, agencyList)" ng-class="{'btn-profile-connected':item.connected}"><span ng-show="item.connected">ON</span><span ng-hide="item.connected">CONNECT</span></button>
							</div>
							<div class="permissions" ng-show="item.panelOpen">
								<h4 ng-show="item.connected">Choose what information you want to share</h4>
								<h4 ng-hide="item.connected">Safely share your information with this service to save time and do more online.</h4>

								<ul ng-show="item.connected">
									<li ng-repeat="category in item.categories"><label><input type="checkbox" ng-checked="category.enabled" ng-click="toggleCategoryClicked(item, category)"> {{category.name}} </label></li>
								</ul>
							</div>
						</div>
					</div>
          </div>
			
			
        </md-content>
      </md-tab>
      <md-tab label="TRANSACTIONS">
        <md-content class="md-padding transactions">
          <table>
          	<tr>
          		<td colspan="4" class="title">This Month</td>
          	</tr>
          	<tr>
          		<td class="agency">Agriculture and Fisheries</td>
          		<td class="transaction">Stocked Impoundment Permit <span class="description">1 Year</span> <span class="type">Concession</span></td>
          		<td class="price">$36.00</td>
          		<td class="date">11 Apr</td>
          	</tr>
          	<tr class="spacer">
          		<td colspan="4" ></td>
          	</tr>
         
          	<tr>
          		<td colspan="4" class="title">Last Month</td>
          	</tr>
          	<tr>
          		<td class="agency">National Parks, Sport and Racing</td>
          		<td class="transaction">Camping Permit <span class="description">3 Nights - One Family</span> <span class="type"></span></td>
          		<td class="price">$71.40</td>
          		<td class="date">28 Mar</td>
          	</tr>
          	<tr class="row-border">
          		<td class="agency">Transport and Main Roads</td>
          		<td class="transaction">Registration Renewel <span class="description"></span> <span class="type"></span></td>
          		<td class="price">$219.00</td>
          		<td class="date">17 Mar</td>
          	</tr>
          	<tr class="row-border">
          		<td class="agency">Justice and Attorney General</td>
          		<td class="transaction">Birth Certificate <span class="description"></span> <span class="type"></span></td>
          		<td class="price">$43.50</td>
          		<td class="date">03 Mar</td>
          	</tr>
        	<tr class="spacer">
          		<td colspan="4" ></td>
          	</tr>
          	<tr>
          		<td colspan="4" class="title">February 2016</td>
          	</tr>
          	<tr >
          		<td class="agency">Natural Resource Management</td>
          		<td class="transaction">Historical title search <span class="description"></span> <span class="type"></span></td>
          		<td class="price">$25.80</td>
          		<td class="date">15 Feb</td>
          	</tr>
          	<tr class="row-border">
          		<td class="agency">Transport and Main Roads</td>
          		<td class="transaction">Replacement Drivers Licence <span class="description"></span> <span class="type"></span></td>
          		<td class="price">$68.25</td>
          		<td class="date">01 Feb</td>
          	</tr>
          </table>

          
        </md-content>
      </md-tab>
    </md-tabs>
</md-content>
</div>
</div>
	</div>




