<nav id="myNavmenu" class="navmenu navmenu-default navmenu-fixed-right offcanvas" role="navigation">
	<sidepanel></sidepanel>
</nav>

{{topBars.serviceAlert}}
<div class="top-bar" ng-show="topbars.serviceAlert" >

	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-6">
			<p><strong>Service alert</strong> New advice for Queensland residents <a href="#">more</a></p>
			</div>
			<div class="col-xs-6">
				<p class="sign-in"><strong><a href="#" >Sign In</a></strong></p>
			</div>
		</div>
	</div>
</div>
<div class="top-progress-bar" ng-show="topbars.summary">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-2 col-sm-1 hidden-xs">
				<div class="jump-section" ng-click="jumpSectionClicked()">
					<img src="images/pb_back.png">
				</div>
			</div>
			<div class="col-xs-5 col-sm-2 hidden">
				<div class="save" ng-click="saveClicked()">
					<div class="center">
						<img src="images/pb_save.png">
						<span>Continue<br/>Later</span>
					</div>
				
				</div>
			</div>
			<div class="col-xs-10 col-sm-8 ">
				<div class="topic">
					<span>HUSKY</span>
					<p>Always On Always Off</p>
				</div>
			</div>
			<div class="col-xs-2 col-sm-2 pull-right">
				<div class="expand-section" ng-click="expandSectionClicked()" ng-show="showCartIcon">
					<div class="number-indicator animateChange">
						{{numCartServices}}
					</div>
					<img src="images/cart-tick.svg" class="pull-left" width="24" height="24">
				</div>
				<button ng-click="testVideoClicked()">Video</button>
				<button ng-click="testSnippetClicked()">Snippet</button>
			</div>
		</div>
	</div>
</div>
<div class="scroll-frame">
	<a id="top"></a>
	<div class="container">
		<div class="row ">
			<div class="col-md-12 text-center panel-shadow initial-module">
			  	<div class="avatar">
					<img src="images/avatar.svg" >
				</div>
				<section>
					<h1>Hi! What can I help you with?</h1>
				  	<div class="initial-input">
					  	<label class="sr-only chat-input" for="userInput">User input</label>
					  	<div class="input-instruction hidden-xs" ng-show="enterTxt">Press Enter</div>
					  	<input type="text" class="form-control chat-input" id="userInput" placeholder="I'm concerned about my families health" ng-keydown="firstResponse($event)" ng-model="inputText">
					  	
				  	</div>
				</section>
			  	
			</div>
		</div>
	</div>
	<div id="chat-frame" >
		<!-- <chatbooleanchoice></chatbooleanchoice>
		<chatfreetext></chatfreetext>
		<loading></loading>
		<chatsinglechoice></chatsinglechoice>
		<chatlocation></chatlocation>
		<chatresources></chatresources>
		<chatmultiplechoice></chatmultiplechoice>
		<chatsummary></chatsummary> -->
	</div>
</div>
<div class="container">
	<div class="col-md-8 col-lg-9" ng-show="dashboard">
	  <dashboard></dashboard>
	</div>
</div>





	
