<div class="top-bar">
	<p><strong>Service alert</strong> New advice for Queensland residents <a href="#">more</a></p>
</div>
<div class="scroll-frame" >
	<div class="container">
		<div class="row ">
			<div class="col-md-12 text-center panel-shadow">
			  	<signinpanel></signinpanel>
				  	<h1>How can we help you?</h1>
				  	<h2>We can work through anything.</h2>
				  	<div class="" id="chat-frame">
					  	<label class="sr-only chat-input" for="userInput">User input</label>
				    	<input type="text" class="form-control chat-input" id="userInput" placeholder="I want to start a business" ng-keydown="firstResponse($event)" ng-model="inputText">
				  	</div>
			</div>
		</div>
	</div>
	<div class="chat-frame" scroll-glue>
		<!-- <chatfreetext></chatfreetext>
		<loading></loading>
		<chatsinglechoice></chatsinglechoice>
		<chatlocation></chatlocation>
		<chatresources></chatresources>
		<chatmultiplechoice></chatmultiplechoice>
		<chatsummary></chatsummary> -->
	</div>
</div>
<div class="container">
	<div class="col-md-8 col-lg-9" ng-show="dashboard">
	  <dashboard></dashboard>
	</div>
</div>

	
