<div class="chat-block">
  	<div class="location-box">
	  	<ul class="nav nav-tabs">
		  <li ><a ng-click="locationData.addressShow = true">Address</a></li>
		  <li ><a ng-click="locationData.addressShow = false">My Location</a></li>
		</ul>
		<input type="text" class="form-control" id="inputAddress" ng-show="locationData.addressShow" ng-keydown="checkSubmit($event)" ng-model="inputAddress">
		<div ng-hide="locationData.addressShow" class="text-center">
			<p >Can we use your location?</p>
			<button type="button" class="btn btn-default" ng-click="getGeoLocation()">YES</button>
		</div>
	</div>
</div>