<div class="row ">
	<div class="col-md-4 col-lg-3 login-screen">
		<div class="back-btn"> <a href="#/chat"><img src="images/back-arrow.png"></a></div>
		<p class="title text-center">Sign In</p>
		<div class="text-center"><button class="btn btn-default btn-google">Continue with <img src="images/google-logo.png"></button></div>
		<div class="or-divide">
			<div class="or">OR</div>
		</div>
		<div class="input">
		    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
		    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
		    <button ng-click="continueClicked()" class="btn btn-default btn-continue-in"><span ng-show="loginBtnShow">CONTINUE</span><span ng-hide="loginBtnShow"><img src="images/chat-think.svg"></span></button>
		</div>
	</div>
	  	
	<div class="col-md-8 col-lg-9" ng-show="dashboard" >
	  <dashboard></dashboard>
	</div>
</div>